Assignment/bin/com/knoldus/Typecastingjava/IntToDoubleTypecasting.class
Assignment/bin/com/knoldus/arithmeticoperationsjava/ArithmeticOperations.class
Assignment/bin/com/knoldus/booleanexamplejava/BooleanExample.class
Assignment/bin/com/knoldus/booleanvariablejava/BooleanVariables.class
Assignment/bin/com/knoldus/loopsjava/WhileLoops.class
Assignment/bin/com/knoldus/operationsoncirclesjava/OperationsOnCircles.class
Assignment/bin/com/knoldus/stringoperationjava/StringConcatenation.class
Assignment/bin/com/knoldus/stringuppercasejava/StringUppercase.class
Assignment/bin/com/knoldus/sumofnumbersjava/SumOfTwoNumbers.class
Assignment/bin/com/knoldus/variablecreationjava/VariableCreation.class

